.App {
  min-height: 100vh;
  padding: 50px 0;
  background-color: #282c34;
  color: white;
  text-align: center;
}

.App-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

.App-flex-box {
  display: flex;
  flex-direction: column;
  flex-basis: 49%;
  align-items: center;
  margin-bottom: 30px;
  border: 1px solid;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .App-flex-box {
    flex-basis: 100%;
  }
}


/* Typography */
.h3 {
  font-size: calc(10px + 2vmin);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.link {
  color: #61dafb;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}